*{
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
}
body{
  margin: 0;
  font-weight: bold;
}
#app{
  width: 100%;
}
.wrapper{
  height: 100%; display: flex; flex-direction: column;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 370px;
  
  height: 100%;
  margin: 0 auto;
  background-color: rgb(163, 128, 128);
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
.aic{
  display: flex;
  align-items: center;
}

.subHeaderCon {
  padding: 0rem 2rem;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}
.subHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
